.App {
  width: 360px;
  height: 667px;
  background: black;
  color: white;
  border-radius: 50px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.display {
  font-size: 62px;
  margin-bottom: 10px;
  font-weight: 300;
  text-align: right;
}

.display.x-large {
  font-size: 36px;
  margin-top: 15px;
}

.display.large {
  font-size: 42px;
  margin-top: 12px;
}

.display.medium {
  font-size: 52px;
  margin-top: 10px;
}

.memory {
  font-size: 52px;
  margin-bottom: 0;
  font-weight: 100;
  /* word-wrap: break-word; */
  word-break: break-all;
}

.buttons {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  margin-bottom: 20px;
}


@media (max-width: 420px) {
  .App {
    width: 100vw;
    height: 100vh;
  }
}