.App {
  width: 400px;
  height: 100vh;
  background: black;
  color: white;
  border-radius: 50px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.display {
  font-size: 92px;
  margin-bottom: 10px;
  font-weight: 300;
  text-align: right;
}

.memory {
  font-size: 80px;
  margin-bottom: 0;
  font-weight: 100;
  word-wrap: break-word;
  word-break: break-all;
}

.buttons {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  margin-bottom: 20px;
}
